<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>KLineServlet</servlet-name>
		<servlet-class>com.common.web.KLineServlet</servlet-class>
		<init-param>
			<param-name>DB_URL</param-name>
			<param-value>10.66.137.11</param-value>
		</init-param>
		<init-param>
			<param-name>Stock_Info</param-name>
			<param-value>/stock</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>GpphbServlet</servlet-name>
		<servlet-class>com.common.wechat.GpphbServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>KLineServlet</servlet-name>
		<url-pattern>/klineservice</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>GpphbServlet</servlet-name>
		<url-pattern>/gpphbservice</url-pattern>
	</servlet-mapping>
</web-app>